@import 'public/styles/colors';

.header_bg {
  background: url('../../../../public/images/backgrounds/family_gathering.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 45px;
  margin-left: 34px;
  margin-right: -20px;
  margin-bottom: 83px;
  padding: 20px;
  height: 75%;
  width: 100%;
  min-height: 191px;
}

.textMUI {
  margin-top: 45px !important;
  margin-left: 77px !important;
  background-color: #ffffff;
  margin-bottom: 180px !important;
  -moz-box-flex: 0 !important;
  flex-grow: 0 !important;
  max-width: 65.333333% !important;
  flex-basis: 64.333333% !important;
  max-height: 85px;
}

.MuiAlert-standardInfo {
  color: rgb(49, 77, 79) !important;
  background-color: rgb(255 255 255) !important;
}