@import '../../../../../public/styles/colors.scss';

.selected {
  background: #f9f9f9 !important;
  padding: 5px;
  line-height: 35px;
}

.buttons {

}

.popup {
  padding: 15px;
}

.chip {
  background: $color-primary;
  color: $color-white;
}
