@import '../../../../public/styles/colors.scss';

$drawer-width: 240;

.root {
  display: flex;
}

.content {
  flex: 1;
  height: 100vh;
  padding-top: 70px;
  // TODO: remove this hack
  margin-right: -48px;
}

.content_container {
  padding-bottom: 20px;
  padding-top: 20px;
}
