@import '../../../../public/styles/colors.scss';
.outerdiv{
    position: relative; 
    width: 50px;
    height: 50px;
    :hover {
        cursor: pointer;
    }
}

.compass{
    position: absolute;
    width: 100%;
    top: 0;
}

.innerdiv{
    position: absolute;
    transform: rotate(360deg) scaleX(-1);
}

.selected{
    color: $color-brand-light-blue-updated !important;
}

.not_selected{
    color: $color-light-gray !important;
}

.secondary{
    color: transparent !important;  
}

.modulename{
    margin-top: 10px;
    font-weight: bold;
}

.adjust{
    margin-left: -50%;
}

.adjust_circle{
    transform: rotate(30deg) !important;
}