@import '../../../../../public/styles/colors.scss';

.avatar {
  width: 4rem!important;
  height: 4rem!important;
}

.media {
  height: 200px;
}

.list_item {
  font-size: 0.9rem;
}

.address_label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
}
