.personalstory-table {
    border-collapse: collapse;
    border-top: .5px solid #73c8c9;
    border-bottom: .5px solid #73c8c9;
    border-left: .5px solid #73c8c9;
    border-right: .5px solid #73c8c9;
    margin-top: 18px;
    margin-left: 18px;
    overflow: hidden;
}

.personalstory-header {
    background-color: #f0f9f7;
    padding: 5px 10px;
    border-bottom: .5px solid #73c8c9;
    border-collapse: collapse;
    font-size: 8.5px !important;
    text-align: left;
    font-weight: bold;
    font-family: 'Akzidenz Grotesk BE';
}

.personalstory-row {
    column-count: 2;
    column-gap: 10px;
    padding: 5px 15px;
    font-size: 8px;
    font-family: 'Akzidenz Grotesk BE';
    border-collapse: collapse;
    overflow: hidden;
}

.personalstory-row-1 {
    padding: 5px 15px;
    font-size: 8px;
    font-family: 'Akzidenz Grotesk BE';
    border-collapse: collapse;
    overflow: hidden;
}

.personalstory-row-h3 {
    color: #72c6c7;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bold;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Akzidenz Grotesk BE';
}

.personalstory-row-p {
    font-size: 8px;
    margin-top: 1px;
    line-height: 1.43;
    font-family: 'Akzidenz Grotesk BE';
    text-align: justify;
}

.no-break {
    break-inside: avoid-page;
    padding-bottom: 10px;
}