$color-red: #e74c3c;
$color-dark-red: #c0392b;
$color-green: #2ecc71;
$color-dark-green: #27ae60;
$color-blue: #3498db;
$color-dark-blue: #2980b9;
$color-purple: #9b59b6;
$color-dark-purple: #8e44ad;
$color-gray: #95a5a6;
$color-light-gray: #f5f5f5;
$color-dark-gray: #7f8c8d;
$color-charcoal: #333;
$color-navy: #34495e;
$color-dark-navy: #2c3e50;
$color-turquoise: #1abc9c;
$color-dark-turquoise: #16a085;
$color-yellow: #f1c40f;
$color-orange: #f39c12;
$color-gold: #e67e22;
$color-silver: #bdc3c7;
$color-white: #fff;
$color-black: #000;

$color-primary: #183f69;
$color-primary-gray: #4d4d4d;
$color-primary-gray2: #666;
$color-primary-gray3: #ddd;
$color-primary-transparent: rgba(24, 64, 105, 0.2);

$color-secondary: #366a9e;
$color-secondary2: #4bbab6;
$color-secondary3: #7bc1c7;

$color-info: #c9e6e9;
$color-error: #e74c3c;
$color-warning: #f2592a;
$color-success: #659a41;

$color-primary-light: rgba(24, 64, 105, 0.2);
$color-secondary-light: rgba(54, 107, 158, 0.2);
$color-gold-light: rgba(230, 126, 34, 0.2);

$color-brand-light-blue: #c9e6e9;
$color-brand-light-blue-transparent: rgba(201, 230, 233, 0.2);
$color-brand-light-dark-blue: #78c1c7;
$color-brand-light-dark-blue-transparent: rgba(120, 192, 199, 0.2);
$color-brand-light-blue-updated: #E6F1F2;
$color-brand-orange: rgba(242, 90, 42, 1);
$color-brand-orange-light: rgba(242, 90, 42, 0.5);
$color-brand-burnt-orange: rgba(191, 67, 28, 1);
$color-brand-burnt-orange-light: rgba(191, 67, 28, 0.5);
$color-brand-orange-transparent: rgba(242, 90, 42, 0.1);

$color-light-gray: #fafafa
