@import '../../../../../public/styles/colors.scss';

.groups {
  margin-top: 15px;
  margin-bottom: 15px;
}

.group {
  width: 100%;
  margin-bottom: 3px !important;
}

.list {
  width: 100%;
}

.item_badge {
  position: absolute;
  right: 50px;
}

.group_header {
  background: $color-primary !important;
  color: $color-white !important;
  font-weight: bold;
  font-size: 1.2rem;
}

.group_label {
  font-weight: bold !important;
  font-size: 1.2rem !important;
}